.weatherbox {
  position: fixed;
  margin-left: 0px;
  padding-left: 0%;
  width: 500px;
  height: 800px;
  font-size: 23px;
  background-image: url(/assets/image/weather-bg.jpg);
  background-position: top center;
  background-size: cover;
  min-width: 100%;
  max-width: 100%;
}

h1 {
  background-color: #373241;
  color: #b6b2b2;
  font-size: 42.1px;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  //padding-right: 0.2rem;
  //padding-left: 0.2rem;
}

h2 {
  color: #e5e4e2;
  font-size: 30px;
  text-align: center;
  padding-top: 4rem;
}

h3 {
  color: #b6b2b2;
  font-size: 20px;
  text-align: center;
  padding-top: 1rem;
}

.item {
  background-color: #8b8589;
  border-radius: 30px;
  padding: 2rem;
  color: #f7f7f7;
  align-items: center;
  width: 100%;
  max-width: 400px;
  font-size: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 5);
}

.contain_item {
  justify-content: center;
  display: flex;
  margin-top: 7rem;
  visibility: visible;
  opacity: 60%;
}

.contain_titile {
  margin-top: 1rem;
}
span {
  color: #f5f5f5;
  font-size: 18px;
  font-weight: bolder;
}

.country {
  margin-left: 25.5rem;
  //margin-left: 30.5rem;
  margin-right: 0rem;
}

.province {
  margin-left: 5.1rem;
  margin-right: 0rem;
}

.temp {
  margin-left: 3.6rem;
  //margin-left: 3.6rem;
  margin-right: 0rem;
}

.humidity {
  margin-left: 3.7rem;
  //margin-left: 3.5rem;
  margin-right: 0rem;
}
.circle {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  font-size: 21px;
  color: #f5f5f5;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: #f5f5f5;
  margin-left: 3rem;
  box-shadow: 0 0px 5px #ffffff;
  font-weight: bolder;
}
