<div class="weatherbox">
  <h1>Weather</h1>
  <h2>The Weather Forecast</h2>
  <h3>This is an example of using weather API.</h3>
  <div class="contain_item">
    <!--<div class="item">
      <span> Country: {{ weather.sys.country }}<br /></span>
      <span> Name: {{ weather.name }}<br /></span>
      <span> Temperature: {{ temp_c }} C<br /></span>
      <span> Pressure: {{ weather.main.pressure }} <br /></span>
      <span> Humidity: {{ weather.main.humidity }} <br /></span>
    </div>-->
    <div class="circle">{{ weather.sys.country }}</div>
    <div class="circle">{{ weather.name }}</div>
    <div class="circle">{{ temp_c }}&#176;C</div>
    <div class="circle">{{ weather.main.humidity }}%</div>
  </div>
  <div class="contain_titile">
    <span class="country">COUNTRY</span>
    <span class="province">PROVINCE</span>
    <span class="temp">TEMPERATURE</span>
    <span class="humidity">HUMIDITY</span>
  </div>
</div>
<!--<pre>{{ weather | json }}</pre>-->
