@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container-fluid {
  overflow: hidden;
  padding-left: 80px;
  padding-right: 0;
  margin-right: 0;
  background-image: url(/assets/image/covid-bg6.jpg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  //height: 100vh;
  filter: grayscale(0.6);
}
#header-container {
  margin-left: 0;
  margin-right: 0;
}
.header-h {
  margin-left: 0;
  background-color: rgb(253, 58, 9);
  color: #e6e6fa;
  font-size: 42.1px;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 100%;
  max-width: 100%;
}

/*
.table-sm {
  margin-left: 2rem;
  margin-top: 1rem;
  text-align: left;
  //border-collapse: collapse;
  font-size: 1em;
  box-shadow: 0 20px 20px #474747;
  background-color: #ffffff;
}*/

.table th {
  font-weight: bold;
  color: #000000;
  font-size: 20px;
  background-color: #ffd700;
}

.table td {
  padding: 0.5rem 0.5rem;
  background-color: #ffffff;
}
/*
thead {
  font-weight: bold;
  color: #000000;
  font-size: 20px;
  background-color: #ffd700;
}*/

.table-responsive {
  padding-left: 1rem;
}

.chart {
  //position: relative;
  margin-top: 1rem;
  width: 550px;
  height: 280px;
  box-shadow: 0 20px 20px #474747;
  background-color: #f0e68c;
}

.pie-chart {
  //display: flex;
  width: 400px;
}
