@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1 {
  background-color: blueviolet;
  color: #e6e6fa;
  font-size: 22px;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
.divmap {
  padding-left: 80px;
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}
.match-parent {
  width: 100%;
  height: 100%;
}
