<div class="contain">
  <h1>Covid-19's Daily Report</h1>
  <div class="table-responsive" id="table-conainter">
    <div id="block_container" style="overflow: hidden">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
          <h2><i class="fa-regular fa-clock"></i>Update: {{ covid[0].update_date }}</h2>
          <table class="table">
            <thead>
              <tr class="d-flex">
                <th class="col">TITLE</th>
                <th class="col">CASE</th>
              </tr>
            </thead>
            <tbody>
              <tr class="d-flex">
                <td class="col">NEW CASE</td>
                <td class="col">{{ covid[0].new_case }}</td>
              </tr>
              <tr class="d-flex">
                <td class="col">NEW RECOVERED</td>
                <td class="col">{{ covid[0].new_recovered }}</td>
              </tr>
              <tr class="d-flex">
                <td class="col">TOTAL DEATH</td>
                <td class="col">{{ covid[0].total_death }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
