@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

i {
  padding-right: 1rem;
}

a {
  font-size: 15px;
  text-decoration: none;
  color: #ee82ee;
}
.sidebar {
  width: 80px;
  background-color: #452c63;
  min-height: 100vh;
  transition: 0.2s;
  overflow: hidden;
}

.sidebar:hover {
  width: 200px;
}
.sidebar:hover ul li a span {
  opacity: 1;
  visibility: visible;
}

ul li a {
  display: flex;
  align-items: center;
  padding: 25px 0 25px 20px;
}
ul li a:hover {
  background-color: #e1ebee;
}

ul li a span {
  opacity: 0;
  visibility: 0;
  transition: 0.3s ease-in;
}

.table-responsive {
  margin-top: 5rem;
}

.table {
  //border-collapse: collapse;
  // margin-left: 1rem;
  //font-size: 20px;
  text-align: left;
  //background-color: #232525;
  //color: white;
  //padding: 12px 15px;
  //box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  //min-width: 400px;
  border-collapse: collapse;
  //margin: 25px 0;
  font-size: 1em;
  font-family: sans-serif;
  //min-width: 400px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 5);
  //margin-top: 1rem;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table thead {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  background-color: #009879;
}

.contain {
  background-image: url(/assets/image/table-bg.jpg);
  background-position: top center;
  background-size: cover;
  min-width: 100%;
  max-width: 100%;
  margin-left: 0px;
  padding-left: 80px;
  width: 100%;
  height: 100vh;
  color: #ffffff;
}

h1 {
  background-color: rgb(206, 99, 36);
  color: #e6e6fa;
  font-size: 42.1px;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 100%;
  max-width: 100%;
}

h2 {
  font-size: 20px;
  padding-bottom: 0rem;
  font-size: 25px;
  color: #c8c8cd;
}
