.my-container {
  position: fixed;
  margin-left: 80px;
  padding-left: 0%;
  width: 500px;
  height: 800px;
  font-size: 23px;
  background-image: url('https://i.pinimg.com/originals/b0/7f/87/b07f8748217c82986010b714b0f20558.jpg');
  background-position: top center;
  background-size: cover;
  min-width: 100%;
  max-width: 100%;
}

.card {
  height: 500px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 5);
  border-radius: 10px;
  margin-top: 40px;
}
.card-header h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
}

.input-group-prepend span {
  width: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  background-color: rgb(208, 255, 0);
}

.login_btn {
  background-color: rgb(208, 255, 0);
  width: 150px;
  text-align: center;
}

.form-group {
  padding-top: 40px;
}

.reg-con {
  text-align: center;
}
