<div class="my-container">
  <div class="contain_titile">
    <div class="row justify-content-md-center">
      <div class="col"></div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h1>REGISTER</h1>
          </div>
          <div class="card-body">
            <form *ngIf="!Successful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <div class="row">
                <div class="col"></div>
                <div class="col-10">
                  <div class="form-group mb-3">
                    <input
                      name="firstname"
                      type="text"
                      aria-label="First name"
                      class="form-control"
                      [(ngModel)]="form.firstname"
                      placeholder="firstname"
                      #firstname="ngModel"
                      required
                    />
                    <!--pattern form-->
                    <div class="alert-danger" *ngIf="f.submitted && firstname.invalid">
                      <div *ngIf="firstname.hasError('required')">Firstname is required</div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <input
                      name="lastname"
                      type="text"
                      aria-label="Last name"
                      class="form-control"
                      [(ngModel)]="form.lastname"
                      placeholder="lastname"
                      #lastname="ngModel"
                      required
                    />
                    <div class="alert-warning" *ngIf="f.submitted && lastname.invalid">
                      <div *ngIf="lastname.hasError('required')">Lastname is required</div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <input
                      name="displayname"
                      type="text"
                      aria-label="displayname"
                      class="form-control"
                      [(ngModel)]="form.displayname"
                      placeholder="displayname"
                      #displayname="ngModel"
                      required
                    />
                    <div class="alert-warning" *ngIf="f.submitted && displayname.invalid">
                      <div *ngIf="displayname.hasError('required')">displayname is required</div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <input
                      name="email"
                      type="email"
                      class="form-control"
                      id="email"
                      [(ngModel)]="form.email"
                      placeholder="name@example.com"
                      #email="ngModel"
                      required
                      email
                    />
                    <div class="alert-warning" *ngIf="f.submitted && email.invalid">
                      <div *ngIf="email.hasError('required')">Email is required</div>
                      <div *ngIf="email.hasError('email')">Email incorrect format.</div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      [(ngModel)]="form.password"
                      placeholder="password"
                      #password="ngModel"
                      minlength="8"
                      required
                    />

                    <div class="alert-warning" *ngIf="f.submitted && password.invalid">
                      <div *ngIf="password.hasError('required')">Password is required</div>
                      <div *ngIf="password.hasError('minlength')">Password must be at least 8 characters</div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend"></div>
                    <input
                      type="password"
                      name="confirmpassword"
                      class="form-control"
                      [(ngModel)]="form.confirmpassword"
                      placeholder="confirm password"
                      #confirmpassword="ngModel"
                      appValidConfirm="password"
                      required
                    />

                    <div class="alert-warning" *ngIf="f.submitted && confirmpassword.invalid">
                      <div
                        *ngIf="
                          confirmpassword.hasError('notEqual') &&
                          !password.hasError('required') &&
                          !password.hasError('minlength')
                        "
                      >
                        Password do not match
                      </div>
                      <div *ngIf="confirmpassword.hasError('required')">Confirm Password is required</div>
                    </div>
                  </div>
                </div>
                <div class="col"></div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col"></div>
                  <div class="col-9">
                    <button class="btn login_btn">Submit</button>
                    <a class="loginbutton" href="/login">Already have account</a>

                    <div class="alert alert-warning" *ngIf="f.submitted && SignUpFailed">
                      Signup Failed!<br />{{ errorMessage }}
                    </div>
                  </div>
                  <div class="col"></div>
                </div>
              </div>
            </form>
            <div class="alert alert-success" *ngIf="Successful">Your registration is successful!</div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
