<div class="contain">
  <div class="sidebar">
    <h1>MENU</h1>
    <ul>
      <li>
        <a routerLink="/weather"><i class="fa-solid fa-cloud-sun-rain"></i><span>WEATHER</span></a>
      </li>
      <li>
        <a routerLink="/map"> <i class="fa-solid fa-map-location-dot"></i><span>MAP</span></a>
      </li>
      <li>
        <a routerLink="/chart"><i class="fa-solid fa-chart-pie"></i><span>CHART</span></a>
      </li>
      <li>
        <a routerLink="/table"><i class="fa-solid fa-table"></i><span>TABLE</span></a>
      </li>
      <li>
        <a routerLink="/covid"><i class="fa-solid fa-head-side-cough"></i><span>COVID</span></a>
      </li>
      <!--<li>
        <a routerLink="/login"><i class="fa-solid fa-comment-dots"></i><span>LOGIN</span></a>
      </li>
      <li>
        <a routerLink="/information"><i class="fa-regular fa-rectangle-list"></i><span>INFORMATION</span></a>
      </li>
      <li>
        <a routerLink="/register"><i class="fa-regular fa-rectangle-list"></i><span>REGISTER</span></a>
      </li>-->
      <li>
        <a href="/chat"> <i class="fa-solid fa-comment-dots"></i><span>CHAT</span></a>
      </li>
      <li>
        <a style="color: #ee82ee" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i><span>LOGOUT</span></a
        >
      </li>
    </ul>
  </div>
</div>
