@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

i {
  padding-right: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-size: 15px;
  text-decoration: none;
  color: #ee82ee;
}
.sidebar {
  float: left;
  position: fixed;
  width: 80px;
  background-color: #13274f;
  min-height: 100vh;
  transition: 0.2s;
  overflow: hidden;
  z-index: 1;
}
.sidebar:hover {
  width: 200px;
}
.sidebar:hover ul li a span {
  opacity: 1;
  visibility: visible;
}

ul li a {
  display: flex;
  align-items: center;
  padding: 25px 0 25px 20px;
}
ul li a:hover {
  background-color: #e1ebee;
}

ul li a span {
  opacity: 0;
  visibility: 0;
  transition: 0.3s ease-in;
}

h1 {
  background-color: #005a9c;
  color: #e6e6fa;
  font-size: 22px;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

.divChart {
  position: absolute;
  margin-left: 80px;
  width: 600px;
  height: 600px;
}

h2 {
  color: #452c63;
  font-size: 40px;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
