@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

i {
  padding-right: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-size: 15px;
  text-decoration: none;
  color: #ee82ee;
}
.sidebar {
  width: 80px;
  background-color: #452c63;
  min-height: 100vh;
  transition: 0.2s;
  overflow: hidden;
}

.sidebar:hover {
  width: 200px;
}
.sidebar:hover ul li a span {
  opacity: 1;
  visibility: visible;
}

ul li a {
  display: flex;
  align-items: center;
  padding: 25px 0 25px 20px;
}
ul li a:hover {
  background-color: #e1ebee;
}

ul li a span {
  opacity: 0;
  visibility: 0;
  transition: 0.3s ease-in;
}

.contain {
  background-image: url(/assets/image/home-bg2.jpg);
  background-position: top center;
  background-size: cover;
  min-width: 100%;
  max-width: 100%;
  position: fixed;
  margin-left: 0px;
  padding-left: 0%;
  width: 500px;
  height: 800px;
}

h1 {
  background-color: #05050591;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 1.2rem;
  min-width: 100%;
  max-width: 100%;
}

h3 {
  color: #030303;
  font-size: 40px;
  text-align: center;
  padding-top: 3rem;
}
