/* You can add global styles to this file, and also import other style files */
@import '../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Rokkitt', serif;
}
