@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

.contain {
  background-image: url(/assets/image/chart-bg2.jpg);
  background-position: top center;
  background-size: cover;
  min-width: 100%;
  max-width: 100%;
  position: fixed;
  margin-left: 80px;
  padding-left: 0%;
  width: 500px;
  height: 800px;
}

canvas {
  width: 500px;
  height: 500px;
  font-size: 22px;
  margin-top: 2rem;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 20px;
  background-color: #f0ead6;
}

h1 {
  background-color: #4c33919d;
  color: #ffffff;
  font-size: 42.1px;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 100%;
  max-width: 100%;
}

h2 {
  color: #e5e4e2;
  font-size: 25px;
  text-align: center;
  padding-top: 1rem;
}
